In [107]:
import pandas as pd
data = {
    '姓名':['张三','李四','王五','周六','李七'],
    '数学':[85,92,78,88,95],
    '英语':[90,88,85,92,80],
    '物理':[75,80,88,85,90]
}
scores = pd.DataFrame(data)
scores

   姓名  数学  英语  物理
0  张三  85  90  75
1  李四  92  88  80
2  王五  78  85  88
3  周六  88  92  85
4  李七  95  80  90

In [108]:
scores['总分']=scores[['数学','英语','物理']].sum(axis=1)
# scores['平均分']=scores[['数学','英语','物理','总分']].mean(axis=0)
scores

   姓名  数学  英语  物理   总分
0  张三  85  90  75  250
1  李四  92  88  80  260
2  王五  78  85  88  251
3  周六  88  92  85  265
4  李七  95  80  90  265

In [109]:
scores[(scores['数学']>90)|(scores['英语']>85)]

   姓名  数学  英语  物理   总分
0  张三  85  90  75  250
1  李四  92  88  80  260
3  周六  88  92  85  265
4  李七  95  80  90  265

In [115]:
scores.sort_values('总分',ascending=False).head(3)
# scores.nlargest(3,columns=['总分'])

   姓名  数学  英语  物理   总分
4  李七  95  80  90  265
3  周六  88  92  85  265
1  李四  92  88  80  260