In [110]:
# 分组聚合
# df.groupby('分组的字段')['聚合的字段'].聚合函数()
import pandas as pd
df = pd.read_csv('data/nba.csv')
df = df.dropna(subset=['Team']) # 清除Team 列的缺失值那一行
print(df.groupby('Team').groups)# 查看分组
df.groupby('Team').get_group('Detroit Pistons')# 查看分组具体的某组数据

{'Atlanta Hawks': [309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323], 'Boston Celtics': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], 'Brooklyn Nets': [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], 'Charlotte Hornets': [324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338], 'Chicago Bulls': [151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165], 'Cleveland Cavaliers': [166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180], 'Dallas Mavericks': [227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241], 'Denver Nuggets': [383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397], 'Detroit Pistons': [181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195], 'Golden State Warriors': [76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90], 'Houston Rockets': [242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256], 'Indiana Pacers': [196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210], 'Los Angeles Clippers': [91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105], 'Los Angeles Lakers': [106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120], 'Memphis Grizzlies': [257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274], 'Miami Heat': [339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353], 'Milwaukee Bucks': [211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226], 'Minnesota Timberwolves': [398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411], 'New Orleans Pelicans': [275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293], 'New York Knicks': [30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45], 'Oklahoma City Thunder': [412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426], 'Orlando Magic': [354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367], 'Philadelphia 76ers': [46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60], 'Phoenix Suns': [121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135], 'Portland Trail Blazers': [427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441], 'Sacramento Kings': [136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150], 'San Antonio Spurs': [294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308], 'Toronto Raptors': [61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75], 'Utah Jazz': [442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456], 'Washington Wizards': [368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382]}

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
181,Joel Anthony,Detroit Pistons,50.0,C,33.0,6-9,245.0,UNLV,2500000.0
182,Aron Baynes,Detroit Pistons,12.0,C,29.0,6-10,260.0,Washington State,6500000.0
183,Steve Blake,Detroit Pistons,22.0,PG,36.0,6-3,172.0,Maryland,2170465.0
184,Lorenzo Brown,Detroit Pistons,17.0,PG,25.0,6-5,189.0,North Carolina State,111444.0
185,Reggie Bullock,Detroit Pistons,25.0,SF,25.0,6-7,205.0,North Carolina,1252440.0
186,Kentavious Caldwell-Pope,Detroit Pistons,5.0,SG,23.0,6-5,205.0,Georgia,2891760.0
187,Spencer Dinwiddie,Detroit Pistons,8.0,PG,23.0,6-6,200.0,Colorado,845059.0
188,Andre Drummond,Detroit Pistons,0.0,C,22.0,6-11,279.0,Connecticut,3272091.0
189,Tobias Harris,Detroit Pistons,34.0,SF,23.0,6-9,235.0,Tennessee,16000000.0
190,Darrun Hilliard,Detroit Pistons,6.0,SF,23.0,6-6,205.0,Villanova,600000.0
191,Reggie Jackson,Detroit Pistons,1.0,PG,26.0,6-3,208.0,Boston College,13913044.0
192,Stanley Johnson,Detroit Pistons,3.0,SF,20.0,6-7,245.0,Arizona,2841960.0
193,Jodie Meeks,Detroit Pistons,20.0,SG,28.0,6-4,210.0,Kentucky,6270000.0
194,Marcus Morris,Detroit Pistons,13.0,PF,26.0,6-9,235.0,Kansas,5000000.0
195,Anthony Tolliver,Detroit Pistons,43.0,PF,31.0,6-8,240.0,Creighton,3000000.0

In [111]:
df2 = df.groupby('Team')[['Salary']].mean().round(2) #分组后平均值聚合保留两位小数
df2 = df2.reset_index()   # 重置索引
df2.sort_values('Salary',ascending=False)   # 值排序  ascending=False从高到低

                      Team      Salary
5      Cleveland Cavaliers  7642049.21
15              Miami Heat  6347359.46
12    Los Angeles Clippers  6323642.67
20   Oklahoma City Thunder  6251019.87
9    Golden State Warriors  5924599.80
4            Chicago Bulls  5785558.53
26       San Antonio Spurs  5629515.53
14       Memphis Grizzlies  5467920.00
3        Charlotte Hornets  5222728.00
29      Washington Wizards  5088575.73
10         Houston Rockets  5018868.07
0            Atlanta Hawks  4860196.67
13      Los Angeles Lakers  4784695.40
25        Sacramento Kings  4778911.07
6         Dallas Mavericks  4746582.13
27         Toronto Raptors  4741174.07
17  Minnesota Timberwolves  4593053.62
19         New York Knicks  4581493.62
8          Detroit Pistons  4477884.20
11          Indiana Pacers  4450121.73
18    New Orleans Pelicans  4355303.89
16         Milwaukee Bucks  4350219.81
21           Orlando Magic  4297247.86
7           Denver Nuggets  4294423.57
23            Phoenix Suns  4229675.67
28               Utah Jazz  4204006.07
1           Boston Celtics  4181504.86
2            Brooklyn Nets  3501898.33
24  Portland Trail Blazers  3220121.20
22      Philadelphia 76ers  2213778.14

In [112]:
# 多重聚合
# df2 = df.groupby(['Team','Position'])[['Salary']].mean().round(2)
# df2