In [2]:
# 查看 Pandas 显示配置
import pandas as pd
print("显示最大行数:", pd.get_option("display.max_rows"))
print("显示最大列数:", pd.get_option("display.max_columns"))
print("显示宽度:", pd.get_option("display.width"))

# 默认阈值：超过这些值就不显示表格
print("最大行列阈值:", pd.get_option("display.large_repr"))

# 强制显示更多内容为表格
# pd.set_option('display.max_rows', 100)
# pd.set_option('display.max_columns', 50)
# pd.set_option('display.width', 1000)

显示最大行数: 60
显示最大列数: 20
显示宽度: 80
最大行列阈值: truncate

In [3]:
# DaraFrame的创建
import numpy as np
import pandas as pd
# display()函数, 强制显示表格形式
# 通过Series创建
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])
df1 = pd.DataFrame({'第一列':s1,'第二列':s2})
# print(df1)
# 通过字典创建
df = pd.DataFrame(
    {
        'name':['Tom','Jack','Alice','Lucy'],
        'age':[20,22,21,24],
        'gender':['male','male','female','female'],
        'score':[71,62.5,80,86]
    },index=[1,2,3,4],columns=['name','age','gender','score']
)
df

    name  age  gender  score
1    Tom   20    male   71.0
2   Jack   22    male   62.5
3  Alice   21  female   80.0
4   Lucy   24  female   86.0

In [4]:
# 获取某行元素
# print(df.loc[4]) # 显式索引
print(df.iloc[3])  # 隐式索引
# 获取单个元素
print(df.at[2,'gender'])
print(df.iat[2,1])
print(df.iloc[2,2])

name        Lucy
age           24
gender    female
score       86.0
Name: 4, dtype: object
male
21
female

In [5]:
# 获取某列元素
# print(df.loc[:,'name'])
print(df.iloc[:,0])
# print(df['gender'])
print(df.gender)

1      Tom
2     Jack
3    Alice
4     Lucy
Name: name, dtype: object
1      male
2      male
3    female
4    female
Name: gender, dtype: object

In [6]:
# 获取多列数据
print(df[['name','gender']])
print(df.head(2))
print(df.tail(2))

    name  gender
1    Tom    male
2   Jack    male
3  Alice  female
4   Lucy  female
   name  age gender  score
1   Tom   20   male   71.0
2  Jack   22   male   62.5
    name  age  gender  score
3  Alice   21  female   80.0
4   Lucy   24  female   86.0

In [7]:
# 布尔索引筛选数据
print(df[df.score > 70])
df[(df.score > 60)&(df.age>20)]

    name  age  gender  score
1    Tom   20    male   71.0
3  Alice   21  female   80.0
4   Lucy   24  female   86.0

    name  age  gender  score
2   Jack   22    male   62.5
3  Alice   21  female   80.0
4   Lucy   24  female   86.0

In [8]:
# 随机抽样
df.sample(2)

    name  age  gender  score
2   Jack   22    male   62.5
3  Alice   21  female   80.0

In [9]:
print(df.head(2))   # 默认查看前5行
print(df.tail(2))   # 默认查看后5行

   name  age gender  score
1   Tom   20   male   71.0
2  Jack   22   male   62.5
    name  age  gender  score
3  Alice   21  female   80.0
4   Lucy   24  female   86.0

In [10]:
print(df.isin(['Jack',20])) # 查看元素是否包含参数集合里的
print(df.isna())   # 查看元素是否为缺失值

    name    age  gender  score
1  False   True   False  False
2   True  False   False  False
3  False  False   False  False
4  False  False   False  False
    name    age  gender  score
1  False  False   False  False
2  False  False   False  False
3  False  False   False  False
4  False  False   False  False

In [11]:
print(df.score.sum())   # 总分
print(df.score.mean())  # 平均分
print(df.score.max())   # 最大
print(df.score.median())# 中位数
print(df.score.std())   # 标准差
print(df.score.var())   # 方差
print(df.score.quantile(0.25))  # 分位数
# print(df.describe()) # 详细信息
# df.cummax()   # 累积大

299.5
74.875
86.0
75.5
10.29866496202299
106.0625
68.875

In [12]:
# display(df.replace('male','男'))  # 替换
print(df.sort_values(by=['gender','score'], ascending=[False,True])) # 值排序
df.nlargest(2,columns=['score'])    # 取两个最大的score

    name  age  gender  score
2   Jack   22    male   62.5
1    Tom   20    male   71.0
3  Alice   21  female   80.0
4   Lucy   24  female   86.0

    name  age  gender  score
4   Lucy   24  female   86.0
3  Alice   21  female   80.0